<div class="container-fluid">
  <h2 class="text-center">Create a new Goal</h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="newQuote.title" title="title" #title='ngModel' required>
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
          <p>Title is required</p>
        </div>
    </div>
    <div class="form-group">

        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required></textarea>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          <p>Description is required</p>
        </div>
    </div>
   
    <button type="submit" class="btn btn-success">Add Goal</button>
</form>
</div>
