<div class="container">
    <h1>MY GOALS</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let quote of quotes;let i = index'>
          <div>
            <h6 id={{i}} >{{quote.name}} due on {{quote.completeDate|date|uppercase}}</h6>
            <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
          </div>
  
          <div *ngIf='quote.showDescription'>
            <app-quote-detail *ngIf='quote.showDescription'[quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-quote-form></app-quote-form>
      </div>
    </div>
</div>