<!-- <h6>{{quote.description}} </h6>
<h6>{{quote.authorName}} </h6>
<button (click)= 'quoteDelete(true)' class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 rounded">Delete quote</button> -->

<!-- <div class="flex flex-col p-7">
    <div class="flex flex-row">
      <div class=" text-xs uppercase bg-yellow-100 p-1 px-2 text-yellow-700 rounded-2xl">{{quote.category}}</div>
    </div>
    <h2 class="text-xl font-bold truncate mt-1">{{quote.title}}</h2>
    <p class="text-base text-gray-600 mt-1">{{quote.description}}</p>
    <div class="flex flex-row mt-5 items-center justify-start">
      <img class="rounded-2xl mr-2" [src]="quote.authorImageUrl">
      <p class="font-bold text-sm mr-2">{{quote.authorName}}</p>
      <p class="text-gray-400 text-sm">On {{quote.postDate}}</p>
    </div>
  </div> -->


  <p class="text-base text-gray-600 mt-1">{{quote.description}}</p>
      <div class="flex flex-row mt-5 items-center justify-start">
        <img class="rounded-2xl mr-2" [src]="quote.authorImageUrl">
        <p class="font-bold text-sm mr-2">{{quote.authorName}}</p>
      </div>
      <div class="flex flex-row mt-5 items-center justify-start">
        <p class="font-bold text-sm mr-2">Submited by <br> {{quote.quoteSubmitedBy}}</p>
        <p class="text-gray-400 text-sm"> <br>{{quote.postDate |dateCount|uppercase}} ago</p>
      </div>
      <div class="flex space-x-3 mb-4 text-sm font-medium">
        <div class="inline-flex pt-3 space-x-2 items-center">
          <button (click)="toggleUpVote()"><ion-icon class="text-2xl" name="thumbs-up-sharp"></ion-icon></button>
          <span>{{ quote.upVote }}</span>
    
          <button (click)="toggleDownVote()"><ion-icon class="text-2xl" name="thumbs-down-sharp"></ion-icon></button>
          <span>{{ quote.downVote }}</span>
          
        </div>
      </div>
      <button (click)= 'quoteDelete(true)' class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 rounded">Delete quote</button>
